/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: Arial;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

/*--------------------*/



body {
	background-color: #e1e1e1;
	/* font-family:'Lucida Sans Unicode'; */
	font-family: Arial;
}

.content{
	max-width: 1000px;
	margin: 0 auto;
}

.block1{
	display: flex;
	justify-content: flex-start;
	background: #ffffff;
	color: #22222d;
	font-stretch: condensed;
}

.block1_img{
	background-color: aqua;
}

.block1_img img {
	max-width: 400px;
}


.block1_txt{
	line-height: 1.1;
	margin-left: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.block1_txt__name {
	font-size: 50px;
	letter-spacing: 0.1em;
	border-bottom: solid 3px yellow ;
	margin-bottom: 10px;	
}


.block1_txt__name span{
	font-weight: bold ;
}

.block1_txt__developer {
	font-size: 20px;
	letter-spacing: 0.3em;
	font-weight: bold
}

/* БЛОК 2 ВСЯ ИНФА */

.block2{
	color:#ffffff;
	display: flex;
	justify-content: flex-start;
	
  	
}

.block2_left{
	padding: 60px 50px;
	max-width: 400px;
	background-color: #292934;	
	font-size: 14px;
	letter-spacing: 0.1em;
	font-stretch: condensed;
	line-height: 1.5;
}
.block2_left h2 {
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 26px;
	border-bottom: solid 3px yellow
	
}

.block2_left h3 {
	font-size: 17px;
	font-weight: bold;
	
	
}

.block2_left__about {
	margin-bottom: 60px;
}
.block2_left__contacts{
	margin-bottom: 60px;
}
.block2_left__hobboes{
	margin-bottom: 60px;
}


.block2_right{
	background: #22222d;
	padding: 60px 50px;
	flex-grow: 1;
	letter-spacing: 0.1em;
	font-stretch: condensed;
	line-height: 1.5;

}	

.block2_right h2 {
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 26px;
	border-bottom: solid 3px yellow
	
}

.block2_right h3 {
	font-size: 17px;
	font-weight: bold;
}

.block2_right__education{
	margin-bottom: 60px;
}
.right__education{
	display: flex;
	justify-content: flex-start;		
}
.block2_right__experience{
	margin-bottom: 60px;
}
